In [1]:
from dataset.load_dataset import load_click, load_order, load_sku, load_user
from dataset.join_dataset import join_click_order
from dataset.select_data import select_timerange
from dataset.transform import to_sequence

In [3]:
print(select_timerange.__doc__)

    select data within a time range

    >>> select_timerange(DataFrame, '2019-1-1', '2019-2-1')

In [4]:
df_click_order = join_click_order() # 获取click表格和order表格的join
df_click_order.head()

,user_ID,sku_ID,request_date,request_time,order_date,order_ID,if_order
815930,-,e88f7a67c7,2018-02-28,2018-02-28 23:59:08,NaT,NaN,False
270065,-,b9f08a2a2a,2018-02-28,2018-02-28 23:59:15,NaT,NaN,False
899921,-,7f0ddbcdde,2018-02-28,2018-02-28 23:59:25,NaT,NaN,False
617224,-,1b3f5d4d21,2018-02-28,2018-02-28 23:59:32,NaT,NaN,False
77180,-,2e6929ecb9,2018-02-28,2018-02-28 23:59:37,NaT,NaN,False

In [ ]:
df_sku = load_sku()

In [ ]:
df_click_order_sku = df_click_order.merge(df_sku, left_on='sku_ID',
                                                right_on = 'sku_ID')
df_click_order_sku.head()

In [4]:
 # 将df_click_order表格转为序列数据
click_sequence = to_sequence(df_click_orderm, 1000000)
print(click_sequence[10])

# [用户id， [产品id序列], [点击时间序列], [是否购买序列]]

100%|██████████| 1000000/1000000 [01:05<00:00, 15158.86it/s]
['00006dfb70', ['fafcaac06c', 'fafcaac06c', 'fafcaac06c'], [Timestamp('2018-03-03 13:05:57'), Timestamp('2018-03-03 13:06:19'), Timestamp('2018-03-03 13:06:19')], [False, False, False]]